@import "@fontsource/poppins";

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body,
.p-button,
.p-dropdown,
.p-inputtext,
.p-datatable,
.p-dialog {
  font-family: "Poppins", sans-serif !important;
}

#p-datatable {
  background-color: red;
}

.p-datatable.dark-mode {
  background-color: #231c28;
}

.p-dropdown {
  box-shadow: none;
}

.p-dropdown-filter {
  box-shadow: none;
}

.p-inputtext {
  box-shadow: none;
}

.p-input {
  box-shadow: none;
}

.p-dropdown:focus {
  border-color: #56b588;
}

.p-dropdown-filter:focus {
  border-color: #56b588;
}

.p-inputtext:focus {
  border-color: #56b588;
}

.p-input:focus {
  border-color: #56b588;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: #56b588 !important;
}

.p-dropdown:focus {
  border-color: #56b588;
}

.p-dropdown-filter:focus {
  border-color: #56b588;
}

.p-inputtext:focus {
  border-color: #56b588;
}

.p-input:focus {
  border-color: #56b588;
}

.p-inputwrapper-focus {
  border-color: #56b588 !important;
  box-shadow: 0 0 0 0px #56b588 !important;
  outline: 0px solid #56b588 !important;
  outline-offset: 0px;
}

.p-highlight {
  background: #56b58946;
}

.p-dropdown:hover {
  border-color: #56b588;
}

.p-dropdown-filter:hover {
  border-color: #56b588;
}

.p-inputtext:hover {
  border-color: #56b588;
}

.p-input:hover {
  border-color: #56b588;
}

.p-dialog {
  z-index: 1000 !important;
  border: 0
}

.p-dialog-mask {
  z-index: 999 !important;
}

.p-toast {
  z-index: 2000 !important;
}

.p-menu {
  z-index: 900 !important;
}

.ps-sidebar-root {
  border: none !important;
}

.css-wx7wi4 {
  min-width: fit-content !important;
}

#cf-turnstile > div {
  height: 64px;
}
.ql-editor[contenteditable="false"] {
  background-color: rgba(205, 92, 92, 0) !important;
  border: 0px;
  padding: 0px;
  font-size: 1.25rem;
}
.ql-disabled {
  border: 0px !important;
}

.text-justify {
  text-align: justify;
  overflow-wrap: break-word;
  word-break: break-word;
}

.text-black{
  color: #495057;
}


body.light-mode {
  background-color: #fff;
  color: #495057;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: #1a1919;
  color: white;
}
.ql-editor {
  font-family: 'Poppins';
}

body{
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}